cmsplugin-contact-plus==1.2.7
cmsplugin-filer==1.0.1
cmsplugin-image-gallery==0.7.2
Django==1.9.7
django-admin-jqueryui==1.8.22
django-appconf==1.0.2
django-autoslug==1.9.3
django-classy-tags==0.7.2
django-cms==3.3.0
django-extensions==1.6.7
django-filer==1.2.0
django-formtools==1.0
django-inline-ordering==1.0.2
django-leaflet==0.18.1
django-mptt==0.8.4
django-polymorphic==0.8.1
django-recaptcha==1.0.5
django-reversion==1.10.2
django-sekizai==0.9.0
Django-Select2==4.3.2
django-simple-math-captcha==1.0.7
django-treebeard==4.0.1
djangocms-admin-style==1.2.2
djangocms-column==1.6.0
djangocms-googlemap==0.4.0
djangocms-inherit==0.2.1
djangocms-link==1.7.2
djangocms-style==1.7.0
djangocms-text-ckeditor==3.0.0
easy-thumbnails==2.3
html5lib==0.9999999
jsonfield==1.0.3
Pillow==3.2.0
psycopg2==2.6.1
pytz==2016.4
six==1.10.0
Unidecode==0.4.19
