footer {
  margin-top: 3rem;
  background-color: #3e4144;
  padding: 1rem;

  .p-footer {
    color: white;
  }

  a {
      color: white;
  }
  a:hover {
      color: #e4e3e5;
  }

  ul {
     .fa {
          font-size: 2em;
    }
  }
  img{
    height:1em;
    margin-bottom: 0.2em;
  }
}
