footer {
  margin-top: 3rem;
  background-color: #3e4144;
  padding: 1rem;
  .p-footer {
    color: white;
  }
  a {
    color: white;
    font-size: 2em;
  }
  a:hover {
    color: #e4e3e5;
  }
  img{
    height:1em;
    margin-bottom: 0.2em;
  }
}
