.ban img {
  width: 100%;
}

.top-bar {
  background-color: #3E4144;
  ul {
    background-color: #3e4144;
    margin-top: 0.3rem;
    li a {
      color: white;
      font-size: 1.4rem;
    }
    li a:hover {
      color: #e4e3e5;
    }
  }
}
