.ban img {
  width: 100%;
}

.top-bar {
  background-color: $black-tierstruck;
  ul {
    background-color: $black-tierstruck;
    margin-top: 0.3rem;
    li a {
      color: white;
      font-size: 2rem;
      padding: 1rem 2rem;
    }
    li a:hover {
      color: #e4e3e5;
    }
  }
}
