.section-short-presentation {
  padding-top: 5rem;
  padding-bottom: 5rem;
  h1 {
    margin-bottom: 0;
  }
}

.sous-titre p {
  font-size: 1.8rem;
}

.contact-form {
    textarea {
        height: 210px !important;
    }
    input[type=text], input[type=email]{
        height: 50px !important;
    }
    input[type=submit] {
        height: 70px !important;
        width: 100%;
        font-family: $font-tierstruck;
        font-size: 35px;
        background-color: $black-tierstruck;
        color: white;

        :hover {
            color: $white-hover;
        }
    }
    #title-contact {
        margin-top: 3rem;
    }

}
