.padding-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

// // class sur tous les départements de la carte de France
// .land {
//     fill: #E086C5;
//     stroke: white;
//     stroke-width: 0.6px;
//
//  // class sur département 48 de la carte de France
// .departement48 {
//     fill: #f22f11;
// }

h1 {
  margin-bottom: 0;
}

.sous-titre {
  font-size: 1.5rem;
}

.texte-article {
  font-size: 1.2rem;
}
