.section-short-presentation {
  padding-top: 5rem;
  padding-bottom: 5rem;
  h1 {
    margin-bottom: 0;
  }
}

.sous-titre p {
  font-size: 1.8rem;
}

textarea {
  height: 150px;
}

#button-submit {
  float: right;
}

#title-contact {
  margin-top: 3rem;
}
