$black-tierstruck: #3E4144;
$white-hover : #e4e3e5 ;
$font-tierstruck : 'Yanone Kaffeesatz', sans-serif;

@import "footer";
@import "header";
@import "homepage";
@import "la_tournee";
@import "reseau";
@import "tierstruck_lozere";
@import "tierstrucker";
@import "tournees";


p, h1, h2, h3, a {
  color: $black-tierstruck;
  font-family: $font-tierstruck;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
}
