{% load cms_tags sekizai_tags %}

<section class="contact-form">
    {% static_placeholder "contact_form" %}
</section>
<footer>
  <div class="row">
    <div class="small-12 column">
      <div class="menu-centered">
        <ul class="menu">
          <li><a href="https://www.facebook.com/TiersTruck" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/TiersTruck" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <p class="text-center p-footer"><img src="/static/images/licenses-copyleft.png"> Copyleft 2016 Tiers-Truck - <a href="{% page_url "mentions-legales" %}">Crédits et Mentions Légales</a></p>
    </div>
  </div>

</footer>
