{% load cms_tags menu_tags sekizai_tags %}

<div class="row">
  <div class="small-12 column ban">
    <!-- <img src="/static/images/Illu_TiersTruck.svg" alt="banniere_tiers_truck" /> -->
    {% static_placeholder "banniere-header" %}<!-- Image en bannière dans le header -->
  </div>
</div>

<div class="title-bar" data-responsive-toggle="hamburger" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div id="hamburger" class="top-bar">
  <div class="menu-centered">
  <ul class="vertical medium-horizontal menu">
    {% show_menu %}
  </ul>
</div>
  <!-- <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>

    </ul>
  </div> -->

</div>
