{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<main>
  <div class="row text-center section-short-presentation">
    <div class="large-6 column">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rgrtL8S7mo8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="the_presentation "class="large-6 text-justify column">
      {% placeholder  "presentation-accueil" %}
    </div>
  </div>
</main>

{% endblock content %}
