{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<main>
  <div class="row text-center section-short-presentation">
    <div class="large-6 column">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rgrtL8S7mo8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="the_presentation "class="large-6 text-justify column">
      {% placeholder  "presentation-accueil" %}
    </div>
  </div>
  <div class="row text-center">
    <div class="large-6 medium-12 small-12 column">
      <!-- Code embed Twitter -->
      <a class="twitter-timeline" href="https://twitter.com/TiersTruck" data-widget-id="727402365456896000">Tweets de @TiersTruck</a>
    </div>
    <div class="large-6 medium-12 small-12 column">
      <!-- Code embed Facebook -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-page" data-href="https://www.facebook.com/TiersTruck/?fref=ts" data-tabs="timeline" data-width="520" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/TiersTruck/?fref=ts"><a href="https://www.facebook.com/TiersTruck/?fref=ts">Tiers-Truck : Modes de vie durables à partager</a></blockquote>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
