{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<section class="row text-center section-title">
  <div class="small-12 column">
    {% placeholder "titre-la-tournee" %}<!-- Titre de la page La Tournée en h1 -->
  </div>
</section>

<section class="row text-center section-map">
  <div class="large-6 medium-6 small-12 column">
    <div class="text-justify">
      {% placeholder "sous-titre-la-tournee" %}<!-- Sous-titre de la page la Tournée en h2 -->
    </div>

    <div id="mapid"></div>
  </div>
  <div class="large-6 medium-6 small-12 column text-justify">
    <h3 id="p-lieu">Lieux et Dates : </h3>{% placeholder "lieux-dates-de-la-tournee" %}<!-- Lieux et Dates de la tournee en p -->
    <h3>Activités proposées : </h3>
    {% placeholder "activites-de-la-tournee" %}<!-- Activités de la tournee en p -->
  </div>
</section>

{% endblock %}
