{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<section class="row text-center section-title">
  <div class="small-12 column">
    <h1>Juin 2016</h1>
  </div>
</section>

<section class="row text-center section-map">
  <div class="large-6 medium-6 small-12 column">
    <h2 class="text-justify"><i class="fa fa-bus" aria-hidden="true"></i>  La tournée</h2>
    <div id="mapid"></div>
  </div>
  <div class="large-6 medium-6 small-12 column text-justify">
    <p id="p-lieu">Lieu : </p>
    <p>Date : </p>
    <p>Activités proposées : </p>
  </div>
</section>

{% endblock %}
