{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
TiersTruck
<main>

  <div class="row padding-section">
    <div class="large-6 column">
      <img src="/static/images/LogoTiersTruck.png" alt=""/>
    </div>
    <div class="large-6 column">
      <h1>LE TIERS-TRUCK LOZERE</h1>

      <p class="texte-article">
        Le TiersTruck est un camion aménagé arpentant la ruralité afin de former
        le plus grand nombre à la Culture Numérique et en favorisant le lien social.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
  </div>

</main>

{% endblock %}
