{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<main>

  <div class="row text-center section-tiers-truck">
    <div class="large-6 column">
        {%placeholder "photo_tierstruck" %}
      <!--<img src="/static/images/photo_marche.jpg" alt=""/>-->
    </div>
    <div class="text-justify large-6 column">
      {% placeholder "titre_tierstruck" %} <!--Titre LE TIERS-TRUCK LOZERE-->

        <p class="texte-tierstruck">
          {% placeholder "texte_tierstruck"%}
          <!-- Le TiersTruck est un camion aménagé arpentant la ruralité afin de former
          le plus grand nombre à la Culture Numérique et en favorisant le lien social.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.-->

          <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.--></p>
        </div>

</main>

{% endblock %}
