{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<section class="row text-center section-title">
  <div class="small-12 column">
    {% placeholder "titre-les-tournees" %}<!-- Titre de la page Les Tournées en h1 -->
  </div>
</section>

<section class="row text-center section-map">
  <div class="large-6 medium-6 small-12 column">
    <div class="text-justify">
      {% placeholder "sous-titre-les-tournees" %}<!-- Sous-titre de la page les Tournées en h2 -->
    </div>

    <div id="mapid"></div>
  </div>
  <div class="large-6 medium-6 small-12 column text-justify">
    <h3 id="p-lieu">Lieux et Dates : </h3>{% placeholder "lieux-dates-de-la-tournee" %}<!-- Lieux et Dates de la tournee en p -->
    <h3>Activités proposées : </h3>
    {% placeholder "activites-de-la-tournee" %}<!-- Activités de la tournee en p -->
  </div>
</section>

<section class="section-gallery">
  <div class="row">
    <div class="small-12 column">
      <div class="text-justify">
        {% placeholder "titre-galerie-passees" %}<!-- Titre de la galerie des tournées passées en h2 -->
      </div>
    </div>
  </div>

  <div class="row small-up-2 large-up-4 text-center">
    <div class="column">
      <a href="http://localhost:8002/fr/les-tournees/la-tournee/"><img src="http://placehold.it/200x200" alt="" /></a>
      <h3 class="text-center">Juin 2015</h3>
    </div>
  </div>
</section>

{% endblock %}
